##ignore this file##
/RUNS/
/DATA/
/inception/inception_v3.ckpt
/ResNet/resnet_v1_50.ckpt
/ResNet/resnet_v2_50.ckpt
/ResNet/resnet_v2_101.ckpt
/ResNet/train.graph
/ResNet/eval.graph
/inception/inception_v4.ckpt
/ResNet/resnet_v2_50_2017_04_14.tar.gz
/inception/inception_v4_2016_09_09.tar.gz
